<footer class="site-footer">
  <!-- BEGIN TOP-FOOTER -->
  <section id="top-footer">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <h3>About OPEN</h3>
            OPEN designs, builds and managers co-working and innovation spaces for itself and select partners.
          </div>
          <div class="col-md-3 col-md-offset-3">
            <h3>Office</h3>
            <ul class="fa-ul">
              <li><i class="fa fa-li fa-map-marker"></i><strong>Address:</strong><br>
                OPEN<br>
                4th Floor, The Main Change<br>
                20 Kruger Street<br>
                Maboneng, Johannesburg</li>
              <li><i class="fa fa-li fa-envelope"></i><strong>Email:</strong> <a href="mailto:hello@theopen.co.za">hello@theopen.co.za</a></li>
              <li><i class="fa fa-li fa-globe"></i><strong>Website:</strong> <a href="http://theopen.co.za">theopen.co.za</a></li>
              <li><i class="fa fa-li fa-phone"></i><strong>Tel:</strong> <a href="tel:+27-(0)10-900-2000">+27-(0)10-900-2000</a></li>
            </ul>
          </div>
         <!--  <div class="col-md-3 partner">
            <h3>Partner</h3>
            <i class="fa fa-apple"></i>
            <i class="fa fa-html5"></i>
            <i class="fa fa-github"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-dribbble"></i>
            <i class="fa fa-maxcdn"></i>
          </div> -->
          <!-- <div class="col-md-3">
            <h3>Gallery</h3>
            <a href="#"><img src="{{ "/assets/img/gallery/thumb/1.jpg"  | prepend: site.baseurl }}" title="Gallery 1" alt=""></a>
            <a href="#"><img src="{{ "/assets/img/gallery/thumb/2.jpg"  | prepend: site.baseurl }}" title="Gallery 2" alt=""></a>
            <a href="#"><img src="{{ "/assets/img/gallery/thumb/3.jpg"  | prepend: site.baseurl }}" title="Gallery 3" alt=""></a>
            <a href="#"><img src="{{ "/assets/img/gallery/thumb/4.jpg"  | prepend: site.baseurl }}" title="Gallery 4" alt=""></a>
            <a href="#"><img src="{{ "/assets/img/gallery/thumb/5.jpg"  | prepend: site.baseurl }}" title="Gallery 5" alt=""></a>
            <a href="#"><img src="{{ "/assets/img/gallery/thumb/6.jpg"  | prepend: site.baseurl }}" title="Gallery 6" alt=""></a>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <!-- END TOP-FOOTER -->
  
  <!-- BEGIN BOTTOM-FOOTER -->
  <section id="bottom-footer">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <span class="copyright">&copy; 2014 OPEN. All Rights Reserved.</span>

            <span class="pull-right">
              <a href="https://www.facebook.com/OPENworkspaces"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/OPENworkspaces"><i class="fa fa-twitter"></i></a>
              <a href="http://vimeo.com/channels/theopen"><i class="fa fa-vimeo-square"></i></a>
              <a href="http://www.linkedin.com/company/3522431"><i class="fa fa-linkedin"></i></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END BOTTOM-FOOTER -->
  
  <div class="scroll-to-top"></div>
  <!-- BEGIN JS FRAMEWORK -->
  <script src="{{ "/assets/plugins/jquery-2.1.0.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/plugins/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <!-- END JS FRAMEWORK -->
  
  <!-- BEGIN JS PLUGIN -->
  <script src="{{ "/assets/plugins/pace/pace.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/plugins/jquery-magnific-popup/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/jquery.nav.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/isotope.pkgd.min.js" | prepend: site.baseurl }}"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <!-- END JS PLUGIN -->

  <!-- BEGIN JS TEMPLATE -->
  <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  <!-- END JS TEMPLATE -->
</footer>
