<footer class="site-footer">
  <!-- BEGIN TOP-FOOTER -->
  <section id="top-footer">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <h3>Our Company</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="col-md-3">
            <h3>Office</h3>
            <ul class="fa-ul">
              <li><i class="fa fa-li fa-map-marker"></i><strong>Address:</strong> P. Sherman 42, Wallaby Way, Sidney</li>
              <li><i class="fa fa-li fa-envelope"></i><strong>Email:</strong> <a href="mailto:support@email.com">support@email.com</a></li>
              <li><i class="fa fa-li fa-globe"></i><strong>Website:</strong> <a href="http://www.domain.com">www.domain.com</a></li>
              <li><i class="fa fa-li fa-phone"></i><strong>Toll Free:</strong> (123) 456-7890</li>
            </ul>
          </div>
          <div class="col-md-3 partner">
            <h3>Partner</h3>
            <i class="fa fa-apple"></i>
            <i class="fa fa-html5"></i>
            <i class="fa fa-github"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-dribbble"></i>
            <i class="fa fa-maxcdn"></i>
          </div>
          <div class="col-md-3">
            <h3>Gallery</h3>
            <a href="#"><img src="/assets/img/gallery/thumb/1.jpg" title="Gallery 1" alt=""></a>
            <a href="#"><img src="/assets/img/gallery/thumb/2.jpg" title="Gallery 2" alt=""></a>
            <a href="#"><img src="/assets/img/gallery/thumb/3.jpg" title="Gallery 3" alt=""></a>
            <a href="#"><img src="/assets/img/gallery/thumb/4.jpg" title="Gallery 4" alt=""></a>
            <a href="#"><img src="/assets/img/gallery/thumb/5.jpg" title="Gallery 5" alt=""></a>
            <a href="#"><img src="/assets/img/gallery/thumb/6.jpg" title="Gallery 6" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END TOP-FOOTER -->
  
  <!-- BEGIN BOTTOM-FOOTER -->
  <section id="bottom-footer">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <span class="copyright">&copy; 2014 OPEN. All Rights Reserved.</span>

            <span class="pull-right">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-youtube"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
              <a href="#"><i class="fa fa-tumblr"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-rss"></i></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END BOTTOM-FOOTER -->
  
  <div class="scroll-to-top"></div>
  <!-- BEGIN JS FRAMEWORK -->
  <script src="{{ "/assets/plugins/jquery-2.1.0.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/plugins/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <!-- END JS FRAMEWORK -->
  
  <!-- BEGIN JS PLUGIN -->
  <script src="{{ "/assets/plugins/pace/pace.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/plugins/jquery-magnific-popup/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/jquery.nav.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/isotope.pkgd.min.js" | prepend: site.baseurl }}"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <!-- END JS PLUGIN -->

  <!-- BEGIN JS TEMPLATE -->
  <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  <!-- END JS TEMPLATE -->
</footer>
